/* 
**************
Reset Default 
**************
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: Lato, sans-serif;
    background-color: black;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #383838 #000000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #000000;
}

*::-webkit-scrollbar-thumb {
    background-color: #383838;
    border-radius: 10px;
    border: 10px none #383838;
}

/* 
--------------
Header
--------------
*/

header {
    background-color: black;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.container--header {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    margin-top: 6px;
    margin-right: 6px;
    gap: 6px;
}

.header__tool {
    background-color: #4C4D4F;
    padding: 4px 6px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
}

.header__tool:hover {
    background-color: #595B5D;
    transition: 0.1s ease-in;
}

.header__tool i {
    font-size: 14px;
}

/* 
--------------
Main
--------------
*/

main {
    background-color: black;
    height: calc(100vh - 120px);
    margin-top: 40px;
    margin-bottom: 70px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.container {
    width: 100vw;
    margin: 0 auto;
}

.user-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin: 60px;
}

/* User card */

.user__card {
    width: 220px;
    width: 220px;
    position: relative;
    cursor: default;

}

.user__image {
    height: 100%;
}

.user__image img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    overflow: hidden;
    border-radius: 4px;
}

.user__name {
    display: flex;
    background-color: rgba(35, 37, 37, 0.800);
    position: absolute;
    bottom: 0;
    padding: 4px 6px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin: 2px;
}

.user__name i {
    font-size: 13px;
    margin-right: 5px;
    color: #DE2828;
}

.user__name span {
    font-size: 12px;
}

.user__tool {
    background-color: #0E72EC;
    position: absolute;
    top: 4px;
    right: 4px;
    padding: 2px 6px;
    border-radius: 6px;
    opacity: 0;

}

.user__card:hover .user__tool {
    opacity: 1;
    transition: 0.1s ease-in;
}

/* 
--------------
Footer
--------------
*/

footer {
    background-color: #222222;
    color: #A9A9AA;
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.container--footer {
    display: flex;
    height: 100%;
    padding: 4px 0px 4px 0px;

}

.footer__column--start {
    width: 16%;
}

.footer__column--center {
    width: 72%;
    justify-content: center;
}

.footer__column--end {
    width: 12%;
    justify-content: end;
}

.footer__tool {
    display: flex;
}

/* Icon Footer */

.footer__tool__container {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0px 20px;
    border-radius: 8px;
}

.footer__tool__container:hover {
    background-color: #303030;
    transition: 0.1s ease-in;
}

.footer__tool__icon__menu:hover {
    background-color: #434343;
    transition: 0.1s ease-in;
}

.footer__tool__container.end-meeting {
    color: red;
    background-color: #181818;
}

.footer__tool__container.end-meeting i {
    margin-right: 10px;
}

.footer__tool__container.end-meeting:hover {
    background-color: #631a1a3c;
    transition: 0.1s ease-in;
}


.footer__tool__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer__tool__icon__menu {
    display: flex;
    align-items: center;
    padding: 6px 4px;
    border-radius: 6px;
    transform: translateX(10px);
}

.footer__tool__icon__menu i {
    font-size: 11px;
}

.footer__tool__icon i {
    font-size: 18px;
    margin-bottom: 6px;
}

.fa-user-plus {
    padding-left: 7px;
}

.fa-share-from-square {
    color: #4EC802;
}

.footer__tool__icon span {
    font-size: 13px;
    font-weight: 400;
}