/* 
**************
Reset Default 
**************
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: Roboto, sans-serif;
}

/* 
--------------
Header
--------------
*/

header {
    background-color: black;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.container--header {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    margin-top: 6px;
    margin-right: 6px;
    gap: 6px;
}

.header__tool {
    background-color: #4C4D4F;
    padding: 4px 6px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
}

.header__tool i {
    font-size: 14px;
}

/* 
--------------
Main
--------------
*/

main {
    background-color: black;
    height: calc(100vh - 40px);
}

.container {
    width: 100vw;
    margin: 0 auto;
}

.user-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin: 60px;
}

/* User card */

.user__card {
    width: 160px;
    margin-bottom: 3px;
}

.user__card {
    position: relative;
}

.user__image img {
    width: 100%;
    display: block;
}

.user__name {
    display: flex;
    background-color: rgba(0, 0, 0, 0.500);
    position: absolute;
    bottom: 0;
}

/* 
--------------
Footer
--------------
*/

footer {
    background-color: #222222;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Icon Footer */


.footer__tool {
    display: flex;
}

.footer__tool__container {
    display: flex;
    padding: 20px;
}

.footer__tool__container:hover {
    background-color: #353535;
}

.footer__tool__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__tool__icon__menu {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-120%, -50%);
    margin-right: 8px;
}

.footer__tool__icon__menu i {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer__tool__icon i {
    font-size: 24px;
    margin-bottom: 6px;
}

.footer__tool__icon span {
    font-size: 15px;
}